body {
    background-color:lightslategray;
    text-align: center;
    height:100%;
    background-image: url('https://www.surfertoday.com/images/stories/continental-world-map.jpg');
}

header {
    border:black 5px dotted;
    height: 50px;
    font-size: 50px;
    background-color: moccasin;
}

.containerQuestions {
    margin: 10px;
    padding:10px; 
    display:inline-block; 
}

.question {
    border:black 5px dotted;
    height:75px;
    background-color: cornflowerblue;
    font-size: 35px;
    margin:15px;

}
.answers ul {
    border: black 5px dotted;
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
    flex-wrap: wrap;
}

.answers li {
    border: black 5px dotted;
    height: 200px;
    width: 325px;
    list-style: none;
    margin: 5px;
    

}